body {
	background-color: #A8B2CD;
	font-family: 'Arvo', serif;
	color: black;
	}

body a {
	color: #FFF1AA;
	text-decoration: none;
	}

.homemenu {
	width: 500px;
	margin-left: auto;
	margin-right: auto; 
	text-indent: -9999px;
	}

.homemenu:hover {
	background-position: -500px 0px;
	}


.buttonholder {
	margin-top: 10px;
	background-color: #F3F5F9;
	padding: 5px;
	padding-top: 10px;
	display: inline-block;
	border-radius: 3px;
	border: 2px solid black;
	}

body.portfolio h2, body.portfolio h2 a {
	color: #F3F5F9;
	}

.sample {
	padding: 25px;
	margin-bottom: 25px;
	border-top:2px dashed black;
	border-right:2px dashed black;
	color: black;
	}

.graytext {
	color: #F3F5F9;
	font-size: 75%;
	}

.sample a:link {
	text-decoration: none;
	color: black;
	}

.sample:hover {
	border-top:2px dashed #FFF1AA;
	border-right:2px dashed #FFF1AA;
	}

.socialbutton {
	width: 16px;
	height: 16px;
	border: none;
	}

