	<div class="buttonholder">
		{% include socialbutton.html domain="https://twitter.com/" path="elliotharmon" service="Twitter" %}
		{% include socialbutton.html domain="https://theoldreader.com/" path="profile/elliotharmon" service="The Old Reader" %}
		{% include socialbutton.html domain="http://www.metafilter.com/" path="user/47281" service="MetaFilter" %}
		{% include socialbutton.html domain="https://www.pinboard.in/" path="u:eh" service="Pinboard" %}
		{% include socialbutton.html domain="https://github.com/" path="elliotharmon" service="GitHub" %}
		{% include socialbutton.html domain="https://www.linkedin.com/" path="pub/elliot-harmon/29/425/12b" service="LinkedIn" %}
		{% include socialbutton.html domain="https://www.google.com/" path="calendar/embed?src=elliot%40elliotharmon.org&mode=week" service="calendar" %}
	</div>
