	<div class="buttonholder">
		{% include socialbutton.html domain="https://twitter.com/" path="elliotharmon" service="Twitter" %}
		{% include socialbutton.html domain="https://www.eff.org/" path="about/staff/elliot-harmon" service="EFF" %}
		{% include socialbutton.html domain="http://www.metafilter.com/" path="user/47281" service="MetaFilter" %}
		{% include socialbutton.html domain="https://www.pinboard.in/" path="u:eh" service="Pinboard" %}
		{% include socialbutton.html domain="https://github.com/" path="elliotharmon" service="GitHub" %}
		{% include socialbutton.html domain="https://www.linkedin.com/" path="in/elliotharmon" service="LinkedIn" %}
	</div>
