<!DOCTYPE html>
<html>
<head>
<title>Elliot Harmon &#8594; {{ page.title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/grid12.css">
<link href='/style.css' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body class="portfolio">
<div class="container-fluid">
	<div class="row">
		<div class="hidden-xs hidden-sm col-md-2 col-lg-1"></div>
		<div class="col-xs-12 col-sm-4 col-md-2 col-lg-3">
			<a href="/"><h1>Elliot Harmon</h1></a>
			<h2>{{ page.title }}</h2>
			{% if page.title == 'Writing' %}
				<ul>
					{% for category in site.data.writing-categories %}
						<li><a href="{{ category.category | prepend: '#' }}">{{ category.category }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
			{% include allbuttons.html %}
		</div>
		
		{{ content }}

		<div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
	</div>
</div>
</body>
</html>